* {
  margin: 0;
  padding: 0;
}

head {
  font-family: sans-serif;
  color: red;
}

h1 {
  font-family: sans-serif;
  color: #FE3131;
}

h2{
  color: #FE3131;
}
body{
  font-family: sans-serif;
  color: #034571;
  background-color: #B1DFFE;
}

a.div {
  color: red;
}

footer{
  color: #BBC4C6
}

*.image{
  width: 100%;
  height: 200px;
}

.nav-bar{
background-color: #fc7979;
height: 50px;
}

.nav-bar-links{
  display: inline-block;
  padding: 10px;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
}
