* {
  padding: 0;
}

head {
  font-family: sans-serif;
  color: red;
}

h1 {
  font: 43px sans-serif;
  color: #FE3131;
  text-decoration: underline;
  font-weight: bold;
  font-style: normal;
}

h2{
  color: #FE3131;
}
body{
  font-family: sans-serif;
  color: #034571;
  background-color: #B1DFFE;
  font-style: normal;
font-size: 17px;
}

a.div {
  color: #B1DFFE;
}


*.image{
  width: 100%;
  height: 200px;
}

#image{
  border: #77cbff 2px solid;
  height: 300px;
}

.nav-bar{
background-color: #FE3131;
background-color: navy;
height: 50px;
}

/*.nav-bar-links{
  display: inline-block;
  padding: 10px;
  top: 0;
  left:0;
  right:0;
  bottom: 0;*/
}

/* ul > li{
display: inline-block;
padding: 10px;
top: 0;
left:0;
right:0;
bottom: 0;
border: 1px solid red;
} */


ul{
  margin-left: 20px;
}

a[href="mailto:info@example.com"]:link{
  color: #107abc;
}

a[href="mailto:info@example.com"]:hover{
  color: #36a7ed;
}

a[href="https://www.ucvts.tec.nj.us/Page/32#calendar4326/20181012/month"]:link{
  color: #107abc;
}

a[href="https://www.ucvts.tec.nj.us/Page/32#calendar4326/20181012/month"]:visited{
  color: #7d5ef9;
}

a[href="https://www.ucvts.tec.nj.us/Page/32#calendar4326/20181012/month"]:hover{
  color: #36a7ed;
}

ul > li{
display: inline-block;
padding: 10px;
top: 0;
left:0;
right:0;
bottom: 0;
}

li span{
  color: white;
}

li span:hover{
  color: #B1DFFE;
}
